<div class="window">
    <header class="toolbar toolbar-header">
        <h2 class="title">Smart component</h2>
    </header>

    <div class="window-content">
        <div class="pane-group">
            <div class="pane">
                <h4>
                    States and services aware
                </h4>
                <h4>
                    Doesn't alter the state (in theory)
                </h4>
                <h4>
                    Contains other components, renders them
                </h4>
            </div>
            <div class="pane ">
                <div data-jmpress="drive-up after prev">
                <pre class="line-numbers">
                    <code>
                        import { Component } from '@angular/core';
                        import { NumberedRow } from './numbered-row';
                        import { ListData } from './list-data';
                    </code>
                </pre>
                </div>

                <div data-jmpress="drive-up after prev">

                 <pre class="line-numbers" data-start="4">
                    <code>
                        @Component({
                            selector: 'numbered-list',
                            directives: [NumberedRow],
                            template: `<!--
                                    <numbered-row
                                        *ngFor="let item of items; let i = index"
                                        [number]="(i + 1)"
                                        [text]="item"></numbered-row>-->
                            &lt;numbered-row<br/>
                                *ngFor="let item of items; let i = index"<br/>
                                [number]="(i + 1)"<br/>
                                [text]="item"&gt;&lt;/numbered-row&gt;
                            `
                        })
                    </code>
                </pre>
                </div>

                <div data-jmpress="drive-up after prev">
                <pre class="line-numbers" data-start="14">
                    <code>
                        export default class NumberedList {
                            static get parameters () {
                                  return [[ListData]];
                            }
                            constructor (listData) {
                                 this.items = listData.getData();
                            }
                        }
                    </code>
                </pre>
                </div>
                <div id="numberedList" data-jmpress="drive-up after prev">
                    <pre class="language-markup">
                        <code class="language-markup">
                            <!--
                                                    <numbered-list></numbered-list>
                            -->
                            &lt;numbered-list&gt;&lt;/numbered-list&gt;
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <footer class="toolbar toolbar-footer">
       <div id="footer"> &copy Chrystian Ruminowicz </div>
    </footer>
</div>

