<div class="window">
    <header class="toolbar toolbar-header">
        <h2 class="title">Smart component</h2>
    </header>

    <div class="window-content">
        <div class="pane-group">
            <div class="pane">
                <h4>
                    States and services aware
                </h4>
                <h4>
                    Doesn't alter the state (in theory)
                </h4>
                <h4>
                    Contains other components, renders them
                </h4>

<!--                <div data-jmpress="drive-up after 100 numberedList">
                    <pre class="language-markup" >
                        <code class="language-markup">
    &lt;!&ndash;
                            <numbered-list>
                                <numbered-row>
                                    <p>1. first</p>
                                </numbered-row>
                                <numbered-row>
                                    <p>2. second</p>
                                </numbered-row>
                            </numbered-list>
    &ndash;&gt;
                            &lt;numbered-list&gt;<br />
                                &lt;numbered-row&gt;<br />
                                    &lt;p&gt;1. first&lt;/p&gt;<br />
                                &lt;/numbered-row&gt;<br />
                                &lt;numbered-row&gt;<br />
                                    &lt;p&gt;2. second&lt;/p&gt;<br />
                                &lt;/numbered-row&gt;<br />
                            &lt;/numbered-list&gt;
                        </code>
                    </pre>
                </div>-->
            </div>
            <div class="pane" data-jmpress="drive-up after prev">
                <pre class="line-numbers">
                    <code>
                        import { Component } from '@angular/core';
                        import { NumberedRow } from './numbered-row';
                        import { ListData } from './list-data';
                    </code>
                </pre>

                <pre class=" line-numbers" data-start="4" data-jmpress="drive-up after prev">
                    <code>
                        @Component({
                            selector: 'numbered-list',
                            directives: [NumberedRow],
                            template: `<!--
                                <numbered-row
                                    *ngFor="let item of items; let i = index"
                                    [number]="(i + 1)"
                                    [text]="item"></numbered-row>-->
                                &lt;numbered-row<br />
                                    *ngFor="let item of items; let i = index"<br />
                                    [number]="(i + 1)"<br />
                                    [text]="item"&gt;&lt;/numbered-row&gt;
                            `
                        })
                    </code>
                </pre>

                <pre class=" line-numbers" data-start="15" data-jmpress="drive-up after prev">
                    <code>
                        export default class NumberedList {
                            static get parameters () {
                                return [[ListData]];
                            }
                            constructor (listData) {
                                this.items = listData.getData();
                            }
                        }
                    </code>
                </pre>
                <div id="numberedList" data-jmpress="drive-up after prev">
                    <pre class="language-markup" >
                        <code class="language-markup">
    <!--
                            <numbered-list></numbered-list>
    -->
                            &lt;numbered-list&gt;&lt;/numbered-list&gt;
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>

