<div class="window">
    <header class="toolbar toolbar-header">
        <h2 class="title">Component life cycle hooks</h2>
    </header>

    <div class="window-content">
        <div class="pane-group">
            <div class="pane">
                <h4>
                    Components are alive!
                </h4>
                <h4>
                    <ul>
                        <li>ngOnChanges</li>
                        <li>ngOnInit</li>
                        <li>ngDoCheck</li>
                        <li>ngOnDestroy</li>
                        <li>...</li>
                    </ul>
                </h4>
                <h4>
                    Inspired by web components (Lifecycle callbacks)
                </h4>
            </div>
            <div class="pane" data-jmpress="drive-up after prev">
                <pre class="line-numbers">
                    <code>
                        @Component({
                            selector: 'hooked',
                            inputs:['text'],
                            template: `<!--
                                <h2>Input value: {{ text }}</h2>
                                <p *ngFor="let c of cycles">{{ c }}</p>
                            -->&lt;h2&gt;Input value: {{ text }}&lt;/h2&gt;<br />
                                &lt;p *ngFor="let c of cycles"&gt;{{ c }}&lt;/p&gt;`
                        })
                        export class Hooked {
                            constructor () {
                                this.cycles = [];
                                this._register('constructor');
                            }
                            _register(name) {
                                this.cycles.push(name + ': ' + this.text);
                            }
                            ngOnInit () { this._register('ngOnInit') }
                            ngOnChanges () { this._register('ngOnChanges') }
                            ngOnDestroy () { alert('ngOnDestroy') }
                        }
                    </code>
                </pre>

                <div style="text-align: center" data-jmpress="drive-up after prev">
                    <img style="height: 130px" src="imgs/hooks.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>

