<div class="window">
    <header class="toolbar toolbar-header">
        <h2 class="title">Data flow</h2>
    </header>

    <div class="window-content">
        <div class="pane-group">
            <div class="pane">
                <h4>
                    One way
                </h4>
                <h4>
                    Data down to child component
                </h4>
                <h4>
                    Events up to parent method
                </h4>
                <h4>
                    Inputs carry route data
                </h4>
            </div>
            <div class="pane" data-jmpress="drive-up after prev">
                <div>
                    <pre class="line-numbers">
                        <code>
                            import { EventEmitter } from '@angular/core';
                            @Component({
                                selector: 'color-clicker',
                                inputs: ['colors'],
                                outputs: ['colorClick'],
                                template: `<!--<p *ngFor="let color of colors"
                                              [ngStyle]="{'background-color': color}"
                                              (click)="onClick(color)">{{ color }}</p>-->
                                    &lt;p *ngFor="let color of colors"<br />
                                      [ngStyle]="{'background-color': color}"<br />
                                      (click)="onClick(color)"&gt;
                                        {{ color }}
                                    &lt;/p&gt;`
                            })
                            export class ColorClicker {
                                constructor () {
                                    this.colorClick = new EventEmitter();
                                }
                                onClick (color) {
                                    this.colorClick.emit(color);
                                }
                            }
                        </code>
                    </pre>
                </div>

                <div data-jmpress="drive-up after prev">
                    <pre class="language-markup line-numbers">
                        <code class="language-markup">
                            <!--
                                    <color-clicker
                                        [colors]="colors"
                                        (colorClick)="onColorClick($event)">
                                    </color-clicker>
                            -->
                                    &lt;color-clicker<br />
                                        [colors]="colors"<br />
                                        (colorClick)="onColorClick($event)"&gt;<br />
                                    &lt;/color-clicker&gt;
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <footer class="toolbar toolbar-footer">
        &copy Chrystian Ruminowicz
    </footer>
</div>

