/** GENERAL **/
body {
    font-family: 'Roboto', sans-serif;
    min-height: 740px;
    background-color: #263238;
    color: #000;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

ul {
    list-style-image: url('../imgs/list.png');
    list-style-position: inside;
}

ul li {

    /*background: #cce5ff;*/
    margin: 5px;
}

#faq {
    position: absolute;
    font-weight: 300;
    font-size: 1.6em;
    background-color: rgba(38, 50, 56, 0.96);
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6% 28%;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

#MAIN {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

#slides div {
    transition: all 0.5s !important;
}

.toolbar-header {
    background-color: #1976d2;
    background-image: none;
    box-shadow: none;
    letter-spacing: 1px;
    border-bottom: #ffffff;
    border-bottom-width: medium;
}

.toolbar-footer {
    height: 30px;
    color: #fff;
    background-color:  #263238;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 400;

    /* Overwrite default style */
    background-image: none;
    border-top-width:  1px;
    border-top-color: #303030;
    box-shadow: none;
}

.logoContainer{
    text-align: center;
    height: 480px;

}

.angularLogo{
    height: 480px;
}
.angularTitle {
   font-size: 3em;
   text-transform: uppercase;
    font-weight: 600;
    line-height: 0em;
    text-align: center;
}

.title {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 2.6em;
    line-height: 1.8em;
    letter-spacing: 1px;

}

h4 {
    font-size: 1.6em;
    line-height: 1.2em;
    font-weight: 400;

}

h5 {
    color: #fff;
    font-size: 1em;

}

.line-numbers, .language-markup {
    font-size: 1.1em;
}

/** STEP STYLES **/
.step {
    width: 1120px;
    height: 700px;
    min-height: 500px;
    display: block;

    /* Coment for our footer  */

    /*border: 1px solid rgba(0, 0, 0, .3);*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*-o-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*background-color: white;*/
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
    /*color: rgb(102, 102, 102);*/
    /*text-shadow: 0 2px 2px rgba(0, 0, 0, .1);*/
    /*letter-spacing: -1px;*/
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.02;
}

/* hint on the first slide */
.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #333;
    color: #fff;
    text-align: right;

    padding: 10px;
    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -ms-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
    -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
    -o-transition: opacity 1s, -o-transform 0.5s 1s;
    transition: opacity 1s, transform 0.5s 1s;
}

.step-home + .hint {
    opacity: 1;

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition: opacity 1s 5s, -moz-transform 0.5s;
    -ms-transition: opacity 1s 5s, -ms-transform 0.5s;
    -o-transition: opacity 1s 5s, -o-transform 0.5s;
    transition: opacity 1s 5s, transform 0.5s;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

/** PRINT STYLE **/
@media print {
    body {
        background: white;
    }

    .hint {
        display: none;
    }

    #simple {
        width: auto;
        margin: 0 5%;
        padding: 0;
        border: 0;
        float: none !important;
        color: black;
        background: transparent;
    }

    .step {
        page-break-after: always;
        opacity: 1;
        clear: both;
        display: block;
        float: none !important;
        position: relative;
        margin: 20px auto;

        -webkit-transition: rotate(0deg);
        -moz-transition: rotate(0deg);
        -ms-transition: rotate(0deg);
        -o-transition: rotate(0deg);
        transition: rotate(0deg);
    }

    .step:not(.active) {
        opacity: 1;
    }
}

.window-content {
      margin: 2em 1em 2em 1em;
}

.window-content .pane-group,
.window-content .pane {
    overflow: hidden;
}

.window-content .pane {
    padding: 0em 1em ;
}

.half {
    float: left;
    width: 50%;
}

.will-crossed {
    position: relative;
}

.will-crossed:before, .will-crossed:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 5px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    opacity:0;
}

.do-crossed:before, .do-crossed:after {
    opacity: 1;
}

.will-crossed:after {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}